{{ define "index" }}

<!DOCTYPE html>
<html lang="fi">

{{ template "header" .Title }}

<body>
  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column phones">

          <p class="section-description">{{.Phrase}} </p>

        </div>

        <div class="one-half column phones">
          <img class="phone" src="/static/5/img/iphone.png">
          <img class="phone" src="/static/5/img/iphone.png">
        </div>
      </div>


    </div>


  </div>
  <ul>
    {{range .Links}}

    <li><a href='{{. | slug}}.html'>{{. | linktext}}</a></li>

    {{end}}
  </ul>


  <div class="section categories">
    <div class="container">
      <h3 class="section-heading">{{.Title}}</h3>
      <div class="row">
        <div class="one-half column category">
          <img class="u-max-full-width" src="/static/5/img/head_5.jpg">
        </div>
        <div class="one-half column category">
          <img class="u-max-full-width" src="/static/5/img/footer_5.jpg">
        </div>
      </div>
    </div>
    <p id="date"></p>
  </div>

  {{ template "footer" . }}
</body>

</html>

{{ end }}